@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest Variable";
  src: url("/fonts/Onest-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Akzid Gro Pro";
  src: url("/fonts/AkzidGroPro.woff2") format("woff2");
}

body {
  overflow: hidden;
  font-family: "Onest Variable", sans-serif;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scalein {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.slide-up {
  animation: slideUp 0.2s ease backwards;
}

.slide-down {
  animation: slideDown 0.2s ease forwards;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.animate-fadein {
  animation: fadein 0.6s;
}
.animate-scalein {
  animation: scalein 0.5s;
}
.animate-pulse {
  animation: pulse 1.2s infinite;
}
